.area-selector-container {

}

.area-selector-container .mask {
    position: fixed;
    z-index: 4999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.area-selector-container .picker {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 5000;
    background: #FFFFFF;
}

.area-selector-container .animation-open {
    animation: pickerOpen ease .3s forwards;
}

.area-selector-container .animation-close {
    animation: pickerClose ease .3s forwards;
}

@keyframes pickerOpen {
  from {
	transform: translateY(100%);
  }
  to {
	transform: translateY(0);
  }
}
@keyframes pickerClose {
  from {
	transform: translateY(0);
  }
  to {
	transform: translateY(100%);
  }
}

