
.picker-container .picker-button-panel {
  display: flex;
  justify-content: space-around;
  background-color: #fbf9fe;
  border-bottom: 1px solid #dddddd;
  color: #586C94;
  padding: 10px;

}
.picker-container .picker-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.picker-container button {
    cursor: pointer;
}
.picker-container button:first-child {
    padding: 0 15px;
    text-align: left;
    background: transparent;
    color: inherit;
    outline: 0;
    width: 100%;
    border: 0 solid;
    box-sizing: border-box;
    font: inherit;
    line-height: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
.picker-container button:last-child {
    padding: 0 15px;
    text-align: right;
    background: transparent;
    color: inherit;
    outline: 0;
    width: 100%;
    border: 0 solid;
    box-sizing: border-box;
    font: inherit;
    line-height: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}